<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation du mot de passe</title>
</head>
<body>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="uid" value="{{ uid }}">
            <div class="form-input-material">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" autocomplete="off" required />
            </div>
            <div class="form-input-material">
                <label for="confirm_password">Confirmez le mot de passe</label>
                <input type="password" name="confirm_password" id="confirm_password" autocomplete="off" required />
            </div>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <button type="submit">Réinitialiser le mot de passe</button>
        </form>
    {% endif %}
</body>
</html>